<a href="https://colab.research.google.com/github/eclipse2ant/gspread/blob/master/gspread_colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install --upgrade gspread

Requirement already satisfied: gspread in /usr/local/lib/python3.7/dist-packages (3.4.2)
Collecting gspread
  Downloading gspread-5.1.1-py3-none-any.whl (31 kB)
Requirement already satisfied: google-auth-oauthlib>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from gspread) (0.4.6)
Requirement already satisfied: google-auth>=1.12.0 in /usr/local/lib/python3.7/dist-packages (from gspread) (1.35.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.12.0->gspread) (0.2.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.12.0->gspread) (4.2.4)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.12.0->gspread) (1.15.0)
Requirement already satisfied: setuptools>=40.3.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.12.0->gspread) (57.4.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.12.0->gspread) (4.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib>=0.4.1->gspread) (1.3.1)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth>=1.12.0->gspread) (0.4.8)
Requirement already satisfied: requests>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.23.0)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.2.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (1.24.3)
Installing collected packages: gspread
  Attempting uninstall: gspread
    Found existing installation: gspread 3.4.2
    Uninstalling gspread-3.4.2:
      Successfully uninstalled gspread-3.4.2
Successfully installed gspread-5.1.1

In [2]:
import gspread
print(gspread.__version__)

5.1.1

In [5]:
from google.colab import auth
from oauth2client.client import GoogleCredentials
auth.authenticate_user()
gc = gspread.authorize(GoogleCredentials.get_application_default())

In [10]:
# https://docs.google.com/spreadsheets/d/{ここがスプレッドシートのIDとなる}/edit#gid=0
ss_id = "1RNHv5lmoMewA0O0LyfB5lpDLs2hFR_7gHbkIQF3yvZk"
workbook = gc.open_by_key(ss_id)
worksheet = workbook.get_worksheet(1)
print(worksheet.title)

SUM練習

In [14]:
import pandas as pd
df = pd.DataFrame(worksheet.get_all_values())
df

        0       1   ...            10             11
0   ダミーデータ          ...
1                   ...  Q9↓に作ってみましょう  Q10↓に作ってみましょう
2      クラス      氏名  ...
3     1年1組  泉谷 金次郎  ...
4     1年1組   新川 謙二  ...
5     1年1組   柚木 美結  ...
6     1年1組    熊木 剛  ...
7     1年1組   津島 紗和  ...
8     1年1組   安倍 正浩  ...
9     1年1組   河辺 正俊  ...
10    1年1組   村瀬 涼花  ...
11    1年1組  小平 裕美子  ...
12    1年1組   古谷 賢明  ...
13    1年1組   松澤 華乃  ...
14    1年1組   鶴見 宙子  ...
15    1年1組   二宮 徳子  ...
16    1年1組   上川 立哉  ...
17    1年1組   荒川 礼子  ...
18    1年2組   藤島 藤雄  ...
19    1年2組   長野 紀夫  ...
20    1年2組  土肥 金之助  ...
21    1年2組   野津 義勝  ...
22    1年2組  今川 一太郎  ...
23    1年2組   伊達 鉄夫  ...
24    1年2組   加茂 敏雄  ...
25    1年2組   北尾 憲治  ...
26    1年2組    森 健蔵  ...
27    1年2組   船山 一寿  ...
28    1年2組   船津 琴子  ...
29    1年2組   金山 浩秋  ...
30    1年2組   須崎 麻紀  ...
31    1年2組   長岡 昌利  ...
32    1年2組    嵯峨 充  ...
33                  ...
34              平均  ...
35            標準偏差  ...
36              最大  ...
37              最小  ...
38              合格  ...
39             不合格  ...

[40 rows x 12 columns]